INIT { 
  white-space: pre-wrap;
  font-family:monospace;
  font-size: 110%;
  }

AXIOME {
  display: inline-block;
  border:solid;
  background-color: Magenta; 
  }

sekt {
  display: inline-block;
  border:solid;
  margin: 5px;
  padding: 10px;
  background-color: white; 
  }

.VorSekt {
  background-color: Aqua;
  }

ok {
  background-color: Gold; 
  }

fl {
  background-color: LightGrey; 
  float: left; 
  }

fr {
  background-color: White; 
  color: LightGrey;
  float: right; 
  }

ul { 
  white-space: nowrap;
  }

DUMPZ { 
  background-color: Pink; 
  }

.zurück { 
  float: right;
  }

