NET "CLK"            LOC =  "T9";

NET "RXD_ttyS0"      LOC =  "T13" | PULLUP;
NET "TXD_ttyS0"      LOC =  "R13" | PULLUP;

NET "RXD_ttyAMA0"    LOC =  "D5" | PULLUP;
NET "TXD_ttyAMA0"    LOC =  "D6" | PULLUP;

NET "led<0>"         LOC =  "K12";
NET "led<1>"         LOC =  "P14";
NET "led<2>"         LOC =  "L12";
NET "led<3>"         LOC =  "N14";
NET "led<4>"         LOC =  "P13";
NET "led<5>"         LOC =  "N12";
NET "led<6>"         LOC =  "P12";
NET "led<7>"         LOC =  "P11";
