section { font-family:monospace; }

table { white-space: nowrap; }

code { font-family:monospace; 
       font-size: 110%; 
       #border: solid;
       }

.ffterm {
  display: inline-block;
  padding: 4px;
  margin-left: 2px;
  border: solid;
  background-color: lightyellow;
  min-width: 300px;
  min-height: 120px;
  color: blue;
  #border-color: blue;
  border-width: 1px;
  }
  
.Nutzereingabe {
  color: black;
  }
